
.name{
    font-size: 100px;
    border: 2px black solid;
    padding: 25px;
    position: absolute;
    top: 250px;
    left: 30px;
}

.card{
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 15px;
 }
.reg{
    font-size: 50px;
    border: black 2px solid;
    height: 150px;
    position: absolute;
    top: 1500px;
    padding: 20px;
    
}

.btn{
    padding: 10px;
    font: 25px;
    position: absolute;
    left: 850px;
    
}
